.ipynb_checkpoints/prueba_clicks2-checkpoint.ipynb
.ipynb_checkpoints/prueba_events-checkpoint.ipynb
.ipynb_checkpoints/prueba_installs-checkpoint.ipynb
.ipynb_checkpoints/prueba_installs2-checkpoint.ipynb
.ipynb_checkpoints/merge_events_clicks-checkpoint.ipynb
data/
images/
data/auctions.csv.gzip
data/clicks.csv.gzip
data/events.csv.gzip
data/installs.csv.gzip
.ipynb_checkpoints\
